<table>
  <tr>
<td><label for="name">Name:</label></td>
<td><input type="text"  name="new[name]"></td>
  </tr>
  <tr>
<td><label for="location">Location:</label></td>
<td><input type="text"  name="new[location]"></td>
  </tr>
  <tr>
<td><label for="starts_at">Starts at:</label></td>
<td><input type="datetime-local" name="new[starts_at]" value=" "></td>
  </tr>
  <tr>
<td><label for="ends_at">Ends at:</label></td>
<td><input type="datetime-local" name="new[ends_at]" value=" "></td>
  </tr>
<td><button class='pure-button' type="submit">Submit</button></td><td></td>
</table>
