<label for="name">Name:</label>
<input type="text"  name="new[name]"><br>
<label for="location">Location:</label>
<input type="text"  name="new[location]"><br>
<label for="starts_at">Starts at:</label>
<input type="datetime-local" name="new[starts_at]" value=" "><br>
<label for="ends_at">Ends at:</label>
<input type="datetime-local" name="new[ends_at]" value=" "><br>
<input type="submit" value="Submit">
