<div class="container">
  <h1>Welcome to Events Manager!</h1>

  <h2>Events</h2>
  <% @events.each do |event| %>
    <p><a href="/events/<%= event.id %>"><%= event.name %></a></p>
  <% end %>

  <br><a href="/events/new/">Create New Event!</a>

</div>
