<div class="container">
  <div class="enterinfo">
    <form action="/login" method="post">
        <h2> Login </h2>
      <table>
        <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="text" name="email" value=""><br></td>
        </tr>
        <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" name="password" ><br></td>
        </tr>
        <tr>
        <td></td><td><input type="submit" value="Submit"></td>
      </tr>
      </table>
    </form>

    <% if session[:errors] %>
      <span style="color: red;"><%= session[:errors] %></span>
    <% end %>

  <form action="/users" method="post">
    <h2> Create a new account</h2>
    <table>
    <tr>
      <td><label for="first_name">First Name:</label></td>
      <td><input type="text"  name="new[first_name]"></td>
    </tr>
    <tr>  
      <td><label for="last_name">Last Name:</label></td>
      <td><input type="text"  name="new[last_name]"></td>
    </tr>
    <tr>  
      <td><label for="birthdate">Birthdate:</label></td>
      <td><input type="date" name="new[birthdate]" value=" "></td>
    </tr>
    <tr>  
      <td><label for="email">Email:</label></td>
      <td><input type="text" name="new[email]" value=" "></td>
    </tr>
    <tr>  
      <td><label for="password">Password:</label></td>
      <td><input type="password" name="new[password]" ></td>
    </tr>
    <tr>  
      <td></td><td><input type="submit" value="Submit"></td>
    </tr>
    </table>  
  </form>
  </div>
</div>

